# Working with the Project
- To update dependencies, run `mix deps.get && mix deps.compile`
- To build the project, run `mix compile`
- To run linting/analysis, run `mix credo`
- To test the project, run `mix test`

# Style/Conventions
- Database schema modules should `use StartupGame.Schema` rather than `Ecto.Schema`

# Creating database schemas/migrations
- Each schema/migration should use the terminal command `mix phx.gen.schema ARGS ...`
 and then edit the resulting file(s)