<!-- App layout (internal pages, after the navbar) -->
<!-- Main content area -->
<main class="py-10">
  <div class="max-w-7xl">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
