<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · SillyConValley">
      {assigns[:page_title] || "SillyConValley"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="bg-white antialiased">
    <StartupGameWeb.Components.Home.Navbar.navbar
      id="main-navbar"
      current_user={@current_user}
      is_home_page={false}
    />
    <main class="pt-2">
      {@inner_content}
    </main>
    <StartupGameWeb.Components.Home.Footer.footer />
  </body>
</html>
